<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Predictions for titanic</h1>
    {%if message %}
    <p>{{message}}</p>
    {%endif %}
    <form action = "" method = "post">
        <p>
            <label for = "age">Age</label>
            <input type = "text", name = "age">
        </p>
        <p>
            <label for = "pclass">Pclass</label>
            <input type = "text", name = "pclass">
        </p>
        <p>
            <input type = "submit">
        </p>
    </form>
</body>
</html>